[Unit]
Description=BTRFS Snapshot Service (/%I)
PartOf=%i.mount

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/btrfs-snap /etc/btrfs-snap.d/%i.conf
